@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(229, 231, 232, 0.80);
    border-radius: 10px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .react-kanban-column {
    background-color: red !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*customize react-kanban*/
.react-kanban-board {
  height: auto !important;
  max-height: calc(100vh - 220px);
  > div {
    height: 100%;

    > div > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - 294px);
    }
  }
}

.react-kanban-column {
  height: auto !important;
  width: 280px;
  border-radius: 8px;
  padding-inline: 8px;
}

.dark .react-kanban-column {
  background-color: #27272a !important;
}

.light .react-kanban-column {
  background-color: #f4f4f5 !important;
}


.tiptap {
  ul {
    text-indent: 0.5rem;
    list-style: inside;

    li {
      p {
        display: inline;
        margin-left: -8px;
      }
    }
  }

  ol {
    text-indent: 0.5rem;
    list-style: decimal inside;

    li {
      p {
        display: inline;
      }
    }
  }

  a {
    text-decoration: underline;
    color: rgba(0, 102, 204, 0.93);
  }

  p.is-editor-empty:first-child::before {
    color: #71717a;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
